# buffer size (in total) in KiB
buffer_size = 5120
shared_memory=false
buffer_management_policy = "Equal Division"
dt_shift_alpha = 0
log_queue_length = false
log_queue_length_port = 0
queue_length_file = "/dev/shm/dpdk-qlen.log"
ecn_enable = false
# ecn threshold in KB
ecn_threshold = 32
# rate limit
tx_rate_mbps = 9999
# bucket size in bytes
bucket_size = 5000
